- project = local_assigns.fetch(:project)
- additional_classes = local_assigns.fetch(:additional_classes, '')

- if show_compliance_framework_badge?(project)
  - framework = project.compliance_framework_settings.first.compliance_management_framework

  = gl_badge_tag(nil, { class: "has-tooltip #{additional_classes}", style: "background-color: #{framework.color}; color: #{text_color_for_bg(framework.color)}", data: { container: 'body', testid: 'compliance-framework-badge' }, title: framework.description}) do
    = framework.name
